html {
  scrollbar-color: $colorSecondary $colorPrimary;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: $colorSecondary;
  }

  ::-webkit-scrollbar-thumb {
    background: $colorPrimary;
  }
}

.container {
  position: relative;
  max-width: 100rem;
  min-height: 100rem;
  padding: 0 1.5rem;
  margin: 19rem auto 5rem;

  @media (min-width: '521px') {
    margin: 14.75rem auto 7.5rem;
  }

  @media (min-width: '768px') {
    margin: 15rem auto 10rem;
    padding: 0 2rem;
  }
  
  @media (min-width: '1200px') {
    padding: 0;
  }
}