.column-navigation {
  position: absolute;
  top: 35rem;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (min-width: '375px') {
    top: 30rem;
  }

  @media (min-width: '768px') {
    top: auto;
    bottom: calc(50% - 25rem);
    right: 8.5rem;

    &::before {
      position: absolute;
      bottom: -5.5rem;
      right: 4rem;
      display: block;
      content: "";
      width: 0.15rem;
      height: 150%;
      border-right: 0.15rem solid rgba($colorPrimary, 0.35);
      transform: rotateZ(39.5deg);
      opacity: 0;
      animation: fadeInBottom 1s ease 1.25s alternate forwards;
    }

    &::after {
      position: absolute;
      bottom: -3rem;
      right: -7rem;
      display: block;
      content: "nav()";
      width: auto;
      height: auto;
      font-size: 8rem;
      font-weight: 100;
      color: rgba($colorPrimary, 0.35);
      transform: rotateZ(-50.5deg);
      opacity: 0;
      animation: fadeIn 1s ease 1.75s alternate forwards;
    }
  }

  @media (min-width: '1200px') {
    bottom: calc(50% - 22.5rem);
    right: calc(50% - 50rem);
  }

  &__button {
    @include navButton;

    animation: fadeInLeft 1.5s ease alternate forwards;
    opacity: 0;

    @for $i from 0 through 2 {
      &.button-#{$i} {
        animation-delay: ($i * (0.2s) + 1.5);
      }
    }

    &:nth-of-type(2n) {
      margin-right: 5rem
    }

    &:nth-of-type(3n) {
      margin-right: 10rem;
    }
  }
}