.go-to-top {
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  cursor: pointer;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.5s ease;
  will-change: opacity;

  &.hidden {
    pointer-events: none;
    cursor: auto;
    opacity: 0;
  }

  svg {
    transition: filter 0.3s ease, transform 0.3s ease;
    will-change: filter, transform;
  
    &:hover {
      transform: scale(1.05);
    }
  }
}