.loader {
  position: absolute;
  top: 0;
  left: calc(50% - 3rem);
  display: flex;

  svg {
    margin: auto;
    animation: rotateAnimation 1s ease-in-out infinite;
  }

  &.wide {
    top: -2rem;
    left: 0;
    width: 100%;
    padding-top: 2rem;
    backdrop-filter: blur(0.5rem);
  }

  &.loaded {
    animation: contentFadeOut 0.5s ease 0.15s alternate forwards;
  }
}