.wp {
  $this: &;

  &-rendered-content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      border-bottom: 0.2rem solid $colorSecondary;

      &::after {
        position: absolute;
        bottom: -0.2rem;
        left: 0;
        display: block;
        content: "";
        width: 50%;
        height: 0.2rem;
        border-bottom: 0.2rem solid $colorPrimary;
      }
    }

    ul {
      margin: 0;
      padding-left: 2rem;

      li {
        position: relative;
        list-style-type: none;
        padding-left: 3rem;
        margin-bottom: 1.25rem;

        &::before {
          content: '';
          display: block;
          position: absolute;
          left: 0;
          top: 0;
          width: 0.5rem;
          height: 1.1rem;
          border-width: 0 0.2rem 0.2rem 0;
          border-style: solid;
          border-color: $colorPrimary;
          transform-origin: bottom left;
          transform: rotate(45deg);
        }
      }
    }

    table {
      background-color: #fff;
      color: rgba($colorText, 0.85);
      line-height: 1.5;
      padding: 2rem 2.5rem 4rem;
      border: thin solid rgba($colorText, 0.15);

      thead {
        th {
          height: 3.2rem;
          user-select: none;
          font-size: 1.4rem;
          font-weight: 600;
          color: rgba($colorText, 0.1);
          border-bottom: thin solid rgba($colorText, 0.15);
          padding: 0 1.6rem;
          transition: height 0.3s ease;

          &:hover {
            background: rgba($colorText, 0.15);
          }
        }
      }

      td {
        border-bottom: thin solid rgba($colorText, 0.15);
        padding: 0.5rem 1.6rem;
        transition: height 0.3s ease;

        &:hover {
          background: rgba($colorText, 0.15);
        }
      }
    }

    img {
      width: auto;
      max-width: 100%;
      height: 100%;
      margin: auto;
    }
  }

  &-block-embed {
    &__wrapper {
      display: flex;
      justify-content: center;
    }
  }

  &-block-image {
    display: flex;

    img {
      margin: auto;
    }
  }

  &-block-code {
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2rem 1rem;
    margin: 2.5rem 0;
    background: #1E1E1E;
    overflow-x: auto;

    code {
      color: #007ACC;
      font-weight: 300;
      padding: 0;
      margin: 0;
      background: none;

      strong {
        color: #C0341D;
        font-weight: 900;
      }
    }
  }

  &-block-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  &-block-button {
    &__link {
      @include navButton;

      display: inline-block;
      width: auto;
      font-size: 1.8rem;
      text-decoration: none;
      color: $colorText;
      padding: 0.35rem 1.75rem;
      margin: 0.5rem;
      border-radius: 3.25rem;
      background: rgba($colorSecondary, 0.2);
      box-shadow: 0 0.1rem 0.25rem rgba($colorSecondary, 0.25);
      transition: background-color 0.2s ease;
      will-change: background-color;

      &:hover {
        background: rgba($colorPrimary, 0.85);
      }
  
      &::before {
        display: none;
      }
    }
  }
}

.has-text-align-center {
  text-align: center;
}